.font-size-lg {
    font-size: 1.3em;
}

ul {
    list-style-type: none;
}

.bg {
    background-color: #F9F5F5;
    padding: 10px;
}

.mt-10 {
    margin-top: 10px;
    font-size: 1.3em;
}

.mt-30 {
    margin-top: 30px;
    font-size: 1.3em;
}

.mt-50 {
    margin-top: 50px;
    font-size: 1.3em;
}

.red-color {
    color: #FFB9B9;
    font-size: 1.3em;
}

.green-color {
    color: #B6FC8D;
    font-size: 1.3em;
}